.outer{
    background-color: white;
    width: 350px;
    height: 350px;
    position: absolute;
    border: 2px solid blue;

}
.face{
    background-color: orange;
    width: 300px;
    height: 300px;
    position: absolute;
    top:25px;
    left:25px;
    border-radius: 150px;
}
.le{
    background-color: black;
    width: 30px;
    height: 30px;
    display:inline-block;
    position: absolute;
    top:65px;
    left:80px;
    border-radius: 20px;
}
.re{
    background-color: black;
    width: 30px;
    height: 30px;
    display:inline-block;
    position: absolute;
    left:100px;
    border-radius: 20px;

}
.mouth{
    background-color: brown;
    height: 35px;
    width: 100px;
    border-radius: 2px;
    position: absolute;
    top:130px;
    right:12px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

