h1{
    color:#1b74e4;
}
*{
    font-family: 'Courier New';
}
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color:black;
    color: white;
}
input{
    color:khaki;
}